<%- include('partials/nav') -%>

<div class="grid grid-cols-1">
 <% posts.forEach(post => { %>

 <!-- start card -->

 <div
  class="post container my-4 md:my-7 max-w-sm md:max-w-lg mx-auto flex flex-col"
  data-post-id="1"
  id="post-card"
 >
  <div class="p-2 flex justify-between">
   <h3 class="text-base font-medium text-white"><%= post.user.userName %></h3>
   <h3 class="text-base text-white"><%= post.createdAt.toDateString() %></h3>
  </div>

  <div class="relative overflow-hidden">
   <img
    src="<%= post.image %>"
    alt="Card Image"
    class="object-cover w-full h-80 md:h-fit"
   />
  </div>
  <div class="p-2 flex justify-between" id="like-comment-delete">
   <div class="flex gap-3">
    <form action="/feed/likePost/<%= post._id %>?_method=PUT" method="POST">
     <button
      class="text-white hover:text-red-600 transition duration-300"
      type="submit"
     >
      <i class="fa fa-heart text-lg"></i>
     </button>
    </form>
    <form action="/feed/addComment/<%= post._id %>?_method=PUT" method="POST">
     <button
      class="text-white hover:text-yellow-400 transition duration-300"
      type="submit"
     >
      <i class="fa fa-comment text-lg"></i>
     </button>
    </form>
   </div>
   <% if (post.user._id.toString() == user._id) { %>
   <div>
    <form
     method="POST"
     action="/feed/deletePost/<%= post._id %>?_method=DELETE"
    >
     <button
      class="text-white hover:text-yellow-400 transition duration-300"
      type="submit"
     >
      <i class="fa fa-trash-can text-lg"></i>
     </button>
    </form>
   </div>
   <% } %>
  </div>
  <div id="post-likes" class="font-semibold text-sm text-white p-2">
   <%= post.likes %> likes
  </div>
  <div id="post-title" class="text-sm text-white p-2">
   <span class="font-semibold"><%= post.user.userName %></span> <%= post.caption
   %>
  </div>
  <div id="comment-section" class="text-sm text-white p-2">
   <ul id="comments" class="">
    <li><span class="font-semibold">User1</span> wow! so cool!</li>
    <li><span class="font-semibold">User2</span> sick pic</li>
    <li>
     <span class="font-semibold">User3</span> my life was worthless before
     Huntagram
    </li>
   </ul>
  </div>
 </div>
 <!-- end card -->
 <% }) %>
</div>
