<%- include('partials/nav') -%>

<div class="mt-8 md:mt-14 flex flex-col items-center justify-center">
 <div
  class="container max-w-sm md:max-w-lg mx-auto flex-1 flex flex-col justify-center px-2"
 >
  <h1
   class="text-white text-center mb-10 text-3xl md:text-5xl"
   id="action-word"
  >
   Hello, <%= user.name %>!
  </h1>

  <a href="/feed" class="mx-auto">
   <p
    class="w-full text-center rounded text-white transition ease-in-out duration-500 hover:scale-105 focus:outline-none text-xl md:text-2xl"
    id="action-word"
   >
    <i class="fa fa-arrow-left text-xl md:text-xl"></i> Back home
   </p>
  </a>

  <div class="bg-slate-50 p-3 my-3 rounded shadow-md w-full" id="home-card">
   <h2 class="mb-8 text-2xl md:text-3xl text-white text-center">
    Create new post
   </h2>
   <form
    action="/profile/createPost"
    enctype="multipart/form-data"
    method="POST"
   >
    <label for="caption" class="text-white">Caption</label>
    <textarea
     class="block border border-black w-full p-3 rounded mb-4"
     id="caption"
     name="caption"
    ></textarea>

    <label for="file" class="text-white">Image</label> <br />
    <input type="file" class="mb-3 text-white" id="imageUpload" name="file" />

    <button
     type="submit"
     class="w-full text-center py-3 rounded text-white transition ease-in-out duration-500 hover:scale-105 focus:outline-none my-1"
     id="sign-up-btn"
     value="Upload"
    >
     Upload
    </button>
   </form>
  </div>
 </div>

 <h3 class="text-white text-center mt-14 text-2xl md:text-4xl" id="action-word">
  Your posts
 </h3>

 <% posts.forEach(post => { %>
 <!-- start card -->
 <div
  class="post container my-3 md:my-7 max-w-sm md:max-w-lg mx-auto flex flex-col"
  data-post-id="1"
  id="post-card"
 >
  <div class="p-2 flex justify-between">
   <h3 class="text-base font-medium text-white"><%= user.userName %></h3>
   <h3 class="text-base text-white"><%= post.createdAt.toDateString() %></h3>
  </div>

  <div class="relative overflow-hidden">
   <img
    src="<%= post.image %>"
    alt="Card Image"
    class="object-cover w-full h-96"
    id="image-card"
   />
  </div>

  <div class="p-2 flex justify-between" id="like-comment-delete">
   <div class="flex gap-3">
    <form action="/profile/likePost/<%= post._id %>?_method=PUT" method="POST">
     <button
      class="text-white hover:text-red-600 focus:text-red-600 transition duration-300"
      type="submit"
     >
      <i class="fa fa-heart text-lg"></i>
     </button>
    </form>
    <!-- button to toggle the comment area form -->
    <button
     class="text-white hover:text-yellow-400 focus:text-yellow-400 transition duration-300"
     id="toggle-comment-area"
    >
     <i class="fa fa-comment text-lg"></i>
    </button>
   </div>
   <div>
    <form
     method="POST"
     action="/profile/deletePost/<%= post._id %>?_method=DELETE"
    >
     <button
      class="text-white hover:text-yellow-400 focus:text-yellow-400 transition duration-300"
      type="submit"
     >
      <i class="fa fa-trash-can text-lg"></i>
     </button>
    </form>
   </div>
  </div>
  <div id="add-comment-form" class="hidden w-full px-2">
   <form action="/profile/addComment/<%= post._id %>" method="POST">
    <div class="flex">
     <input
      type="text"
      class="flex-grow focus:outline-none rounded rounded-r-none text-sm p-1"
      name="comment"
      placeholder="Add a comment..."
     />
     <button
      type="submit"
      class="rounded-r text-sm text-white px-1"
      id="sign-up-btn"
     >
      Post
     </button>
    </div>
   </form>
  </div>
  <div id="post-likes" class="font-semibold text-sm text-white p-2">
   <%= post.likes %> likes
  </div>
  <div id="post-title" class="text-sm text-white p-2">
   <span class="font-semibold"><%= user.userName %></span> <%= post.caption %>
  </div>
  <div id="comment-section" class="text-sm text-white p-2">
   <ul id="comments" class="text-base">
    <% comments.forEach(comment => { %> <% if (String(comment.onPost) ===
    String(post._id)) { %>
    <li>
     <span class="font-semibold"><%= comment.madeBy.userName %></span>
     <%= comment.comment %>
    </li>
    <% } %> <% }); %>
   </ul>
  </div>
 </div>
 <!-- end card -->
 <a href="#" class="top" id="mobile-nav-btn"><i class="fa fa-arrow-up"></i></a>
 <a href="#" class="mx-auto md:hidden">
  <p
   class="w-full text-center rounded text-white transition ease-in-out duration-500 hover:scale-105 focus:outline-none text-xl my-3"
   id="action-word"
  >
   Scroll to top <i class="fa fa-arrow-up text-xl md:text-xl"></i>
  </p>
 </a>
 <% }) %>
</div>
