<%- include('partials/nav') -%>

<div class="mt-8 md:mt-14 flex flex-col items-center justify-center">
 <div
  class="container max-w-sm md:max-w-lg mx-auto flex-1 flex flex-col justify-center px-2"
 >
  <h1
   class="text-white text-center mb-10 text-3xl md:text-5xl"
   id="action-word"
  >
   Hello, <%= user.name %>!
  </h1>

  <a href="/feed" class="mx-auto">
   <p
    class="w-full text-center rounded text-white transition ease-in-out duration-500 hover:scale-105 focus:outline-none text-xl md:text-2xl"
    id="action-word"
   >
    <i class="fa fa-arrow-left text-xl md:text-xl"></i> Back home
   </p>
  </a>

  <div class="bg-slate-50 p-3 my-3 rounded shadow-md w-full" id="post-card">
   <h2 class="mb-8 text-2xl md:text-3xl text-white text-center">
    Create new post
   </h2>
   <form
    action="/profile/createPost"
    enctype="multipart/form-data"
    method="POST"
   >
    <label for="caption" class="text-white">Caption</label>
    <textarea
     class="block border border-black w-full p-3 rounded mb-4"
     id="caption"
     name="caption"
    ></textarea>

    <label for="file" class="text-white">Image</label> <br />
    <input type="file" class="mb-3 text-white" id="imageUpload" name="file" />

    <button
     type="submit"
     class="w-full text-center py-3 rounded text-white transition ease-in-out duration-500 hover:scale-105 focus:outline-none my-1"
     id="sign-up-btn"
     value="Upload"
    >
     Upload
    </button>
   </form>
  </div>
 </div>

 <% if (posts.length > 0) { %>
 <h3 class="text-white text-center mt-14 text-2xl md:text-4xl" id="action-word">
  Your posts
 </h3>
 <% } %> <% posts.forEach(post => { %>

 <!-- start card -->
 <div
  class="post container my-4 md:my-7 max-w-sm md:max-w-lg mx-auto flex flex-col"
  id="post-card"
 >
  <div class="p-2 flex justify-between">
   <h2 class="text-lg font-medium text-white"><%= post.user.userName %></h2>
   <time class="text-lg text-white"><%= post.createdAt.toDateString() %></time>
  </div>

  <div class="relative overflow-hidden">
   <img
    src="<%= post.image %>"
    alt="Card Image"
    class="object-cover w-full h-96"
    id="image-card"
   />
  </div>
  <div class="p-2 flex justify-between" id="like-comment-delete">
   <div class="flex gap-3">
    <!-- form for liking post -->
    <form action="/feed/likePost/<%= post._id %>?_method=PUT" method="POST">
     <button
      class="text-white hover:text-red-600 focus:text-red-600 transition duration-300"
      type="submit"
      aria-label="like button"
     >
      <i class="fa fa-heart text-lg"></i>
      <span class="sr-only">Like Post</span>
     </button>
    </form>
    <!-- button to toggle the comment area form -->
    <button
     class="text-white hover:text-yellow-400 focus:text-yellow-400 transition duration-300"
     id="toggle-comment-area"
     aria-label="comment button"
    >
     <i class="fa fa-comment text-lg"></i>
     <span class="sr-only">Leave a Comment</span>
    </button>
   </div>
   <% if (post.user._id.toString() == user._id) { %>
   <div>
    <!-- form for deleting post for logged in user -->
    <form
     method="POST"
     action="/feed/deletePost/<%= post._id %>?_method=DELETE"
    >
     <button
      class="text-white hover:text-yellow-400 focus:text-yellow-400 transition duration-300"
      type="submit"
      aria-label="delete button"
     >
      <i class="fa fa-trash-can text-lg"></i>
      <span class="sr-only">Delete Post</span>
     </button>
    </form>
   </div>
   <% } %>
  </div>
  <!-- hidden form text area -->
  <!-- form for adding comment -->
  <div id="add-comment-form" class="hidden w-full px-2">
   <form action="/feed/addComment/<%= post._id %>" method="POST">
    <div class="flex">
     <input
      type="text"
      class="flex-grow focus:outline-none rounded rounded-r-none text-sm p-1"
      name="comment"
      placeholder="Add a comment..."
     />
     <button
      type="submit"
      class="rounded-r text-sm text-white px-1"
      id="sign-up-btn"
     >
      Post
     </button>
    </div>
   </form>
  </div>
  <div id="post-likes" class="font-semibold text-sm text-white p-2">
   <% if (post.likes > 1) { %> <%= post.likes %> likes <%} else if (post.likes >
   0) { %> <%= post.likes %> like <% } %>
  </div>
  <div id="post-title" class="text-white p-2">
   <span class="font-semibold text-base"><%= post.user.userName %></span> <%=
   post.caption %>
  </div>
  <div id="comment-section" class="text-sm text-white p-2">
   <ul id="comments" class="text-base">
    <% comments.forEach(comment => { %> <% if (String(comment.onPost) ===
    String(post._id)) { %>
    <li>
     <span class="font-semibold"><%= comment.madeBy.userName %></span>
     <%= comment.comment %>
    </li>
    <% } %> <% }); %>
   </ul>
  </div>
 </div>
 <!-- end card -->
 <% }) %>
</div>

<% if (posts.length > 0) { %>
<a href="#" class="top" id="mobile-nav-btn"><i class="fa fa-arrow-up"></i></a>
<a href="#" class="mx-auto md:hidden">
 <p
  class="w-full text-center rounded text-white transition ease-in-out duration-500 hover:scale-105 focus:outline-none text-xl my-3"
  id="action-word"
 >
  Scroll to top <i class="fa fa-arrow-up text-xl md:text-xl"></i>
 </p>
</a>
<% } %>
