<%- include('partials/nav') -%>

<div class="mt-8 md:mt-14 flex flex-col items-center justify-center">
 <div
  class="container max-w-sm md:max-w-md mx-auto flex-1 flex flex-col justify-center px-2"
 >
  <h1
   class="text-white text-center mb-10 text-5xl md:text-6xl"
   id="action-word"
  >
   Hello <%= user.name %>!
  </h1>
  <div class="bg-slate-50 px-6 py-8 rounded shadow-md w-full" id="home-card">
   <h2 class="mb-8 text-2xl md:text-3xl text-white text-center">
    Create new post
   </h2>
   <form
    action="/profile/createPost"
    enctype="multipart/form-data"
    method="POST"
   >
    <label for="caption" class="text-white">Caption</label>
    <textarea
     class="block border border-black w-full p-3 rounded mb-4"
     id="caption"
     name="caption"
    ></textarea>

    <label for="file" class="text-white">Image</label>
    <input type="file" class="mb-3 text-white" id="imageUpload" name="file" />

    <button
     type="submit"
     class="w-full text-center py-3 rounded text-white transition ease-in-out duration-500 hover:scale-105 focus:outline-none my-1"
     id="sign-up-btn"
     value="Upload"
    >
     Upload
    </button>
   </form>
  </div>
 </div>

 <h2
  class="text-white text-center mt-14 mb-10 text-4xl md:text-5xl"
  id="action-word"
 >
  Your previous posts
 </h2>

 <% posts.forEach(post => { %>
 <!-- start card -->
 <div
  class="post container my-4 md:my-7 max-w-sm md:max-w-lg mx-auto flex flex-col"
  data-post-id="1"
  id="post-card"
 >
  <div class="p-2 flex justify-between">
   <h3 class="text-base font-medium text-white"><%= user.userName %></h3>
   <h3 class="text-base text-white"><%= post.createdAt.toDateString() %></h3>
  </div>

  <div class="relative overflow-hidden">
   <img
    src="<%= post.image %>"
    alt="Card Image"
    class="object-cover w-full h-80 md:h-fit"
   />
  </div>

  <div class="p-2 flex justify-between" id="like-comment-delete">
   <div class="flex gap-3">
    <form action="/profile/likePost/<%= post._id %>?_method=PUT" method="POST">
     <button
      class="text-white hover:text-red-600 transition duration-300"
      type="submit"
     >
      <i class="fa fa-heart text-lg"></i>
     </button>
    </form>
    <form
     action="/profile/addComment/<%= post._id %>?_method=PUT"
     method="POST"
    >
     <button
      class="text-white hover:text-yellow-400 transition duration-300"
      type="submit"
     >
      <i class="fa fa-comment text-lg"></i>
     </button>
    </form>
   </div>
   <div>
    <form
     method="POST"
     action="/profile/deletePost/<%= post._id %>?_method=DELETE"
    >
     <button
      class="text-white hover:text-yellow-400 transition duration-300"
      type="submit"
     >
      <i class="fa fa-trash-can text-lg"></i>
     </button>
    </form>
   </div>
  </div>
  <div id="post-likes" class="font-semibold text-sm text-white p-2">
   <%= post.likes %> likes
  </div>
  <div id="post-title" class="text-sm text-white p-2">
   <span class="font-semibold"><%= user.userName %></span> <%= post.caption %>
  </div>
  <div id="comment-section" class="text-sm text-white p-2">
   <ul id="comments" class="">
    <li><span class="font-semibold">User1</span> wow! so cool!</li>
    <li><span class="font-semibold">User2</span> sick pic</li>
    <li>
     <span class="font-semibold">User3</span> my life was worthless before
     Huntagram
    </li>
   </ul>
  </div>
 </div>
 <!-- end card -->
 <% }) %>
</div>
